APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:z/nxpR+3LpR/Si8iLYs9cinBcU06ThV7iBs5QdTOwbM=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=go-sql
DB_PORT=3306
DB_DATABASE=du_an_3n
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=sendmail
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=davidmillie2000@gmail.com
MAIL_PASSWORD=idavboqjkoevbtjz
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=davidmillie2000@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

TWILIO_SID=ACadd1f73d541089e472c46a1a0189bace
TWILIO_AUTH_TOKEN=60e412662f4f6437a946680a6436ace4
TWILIO_VERIFY_SID=VA05b99597e0318342797169b4ddf9a7ae
