.vs-col, .vs-row{
    padding: 0 !important;
    margin: 0 !important;
}
.vs-select--label{
    color: #666 !important;
}
.vuesax-app-is-ltr .vs-table--search-input {
    border: 2px solid #ccc !important;
}