* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.6rem;
  font-family: 'Lato', sans-serif;
}
body {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
