@keyframes wipe-enter {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes height-top-bottom {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes height-bottom-top {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .animation-from-center-top {
    animation: wipe-enter 1.25s 1;
  }
  .animation-height-show {
    animation: height-top-bottom 0.15s linear 1;
  }
  .animation-height-hidden {
    animation: height-top-bottom 0.15s linear 1;
  }
}
.collapsing {
  height: 0;
  position: relative;
  overflow: hidden;
  transition: height 0.35s ease;
}

//overlay background
.overlay {
  background-image: linear-gradient(0deg, rgba(41, 45, 69, 0.8), rgba(12, 12, 15, 0.6));
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  position: absolute;
}

//font-default-promo
.font-oswald{
  font-family: 'Oswald', sans-serif !important;
}

//filter
.drop-shadow-img {
  filter: drop-shadow(2px 4px 6px gray) ;
}
.drop-shadow-container {
  filter: drop-shadow(1px 2px 3px gray) ;
}
