{
    "htmlWhitespaceSensitivity": "ignore",
    "printWidth": 150,
    "semi": false,
    "arrowParens": "avoid",
    "singleQuote": true,
    "endOfLine": "auto",
    "insertPragma": false,
    "trailingComma": "none"
}
  